.container {
  width: 40px;
  height: 40px;
  position: relative;
  transition: .3s;
  display: inline-block;
}

.icon {
  top: 20.5px;
  &, &::before, &::after {
    width: 40px;
    height: 7px;
    background: #000;
    position: absolute;
    content: '';
  }
  &::before {
    top: -14.5px;
  }
  &::after {
    top: 14.5px;
  }
}